    * {
    margin: 0;
    padding: 0;
    }
    html {
    overflow-x: hidden;
    }

    body {
    background-color: #ffffff;
    color: #555555;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    font-family: "Patua One", cursive;
    color: #1F9FA2;
    }

    h1 {
    font-size: 2.625rem;
    }

    h2 {
    font-size: 2rem;
    }

    h3 {
    font-size: 1.75rem;
    }

    h4 {
    font-size: 1.5rem;
    }

    h5 {
    font-size: 1.25rem;
    }

    h6 {
    font-size: 1.125rem;
    }

    ul,
    ol,
    dl,
    figure {
    margin: 0;
    padding: 0;
    }
    figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    }

    p,
    span,
    strong {
    font-size: 1rem;
    }

    a {
    color: #F7BE14;
    }

    a:hover {
    color: #F7BE14;
    text-decoration: none;
    }

    input,
    textarea,
    select,
    button {
    outline: none;
    }

    input:focus,
    textarea:focus,
    select:focus,
    button:focus {
    outline: none;
    }
    textarea.form-control {
    height: 250px;
    }

    img {
    max-width: 100%;
    }
    .m-0 {
    margin: 0;
    }
    .m-0-auto {
    margin: 0 auto;
    }
    .mt-0 {
    margin-top: 0;
    }
    .mt-10 {
    margin-top: 10px;
    }
    .mb-10 {
    margin-bottom: 0;
    }
    .mt-20 {
    margin-top: 20px;
    }
    .mb-20 {
    margin-bottom: 20px;
    }
    .mt-30 {
    margin-top: 30px;
    }
    .mb-30 {
    margin-bottom: 30px;
    }
    .mt-40 {
    margin-top: 40px;
    }
    .mb-40 {
    margin-bottom: 40px;
    }
    .mt-50 {
    margin-top: 50px;
    }
    .mb-50 {
    margin-bottom: 50px;
    }
    /*-- Basic components like buttons, breadcrumb, accordins  --*/

    .btn-all {
    background-color: #f7be14;
    border-radius: 21px;
    color: #ffffff;
    font-family: "Patua One", cursive;
    padding: 8px 24px;
    min-width: 130px;
    display: inline-block;
    }
    .btn-all i {
    margin-left: 10px;
    font-size: 1.1rem;
    }
    .btn-all:hover {
    background-color: #1F9FA2;
    color: #ffffff;
    }
    .btn-inverse {
    background-color: #1F9FA2;
    }
    .btn-inverse:hover {
    background-color: #f7be14;
    }
    .btn-download {
    background-color: #1F9FA2;
    font-size: 1.125rem;
    padding: 12px 20px;
    border-radius: 28px;
    }
    .section-all {
    padding: 25px 0;
    }

    .heading {
    margin-bottom: 20px;
    text-align: center;
    }

    .heading h1 {
    color: #1F9FA2;
    }

    .heading h2 {
    color: #F7BE14;
    }

    .heading-style-2 h1 {
    font-size: 1.75rem;
    font-family: 'Roboto', sans-serif;
    color: #555555;
    text-transform: uppercase;
    font-weight: 300;
    }

    .heading-style-2 h1 .important {
    color: #1F9FA2;
    font-size: inherit;
    font-weight: 400;
    }
    /*-- site header --*/

    #site-header {
    background-color: #1F9FA2;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }

    #site-header .container-fluid {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    position: relative;
    }

    .logo {
    background-color: #ffffff;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    display: block;
    padding: 8px 10px;
    width: 200px;
    position: absolute;
    z-index: 9;
    -moz-transition: width ease-in-out 0.3s;
    -webkit-transition: width ease-in-out 0.3s;
    transition: width ease-in-out 0.3s;
    }

    .header-shrink .logo {
    width: 162px;
    padding: 0 5px;
    }

    .header-shrink #site-navigation {
    min-height: 60px;
    }

    #site-navigation {
    min-height: 60px;
    background-color: #1F9FA2;
    padding: 5px 0;
    margin-left: 220px;
    -moz-transition: min-height ease-in-out 0.3s;
    -webkit-transition: min-height ease-in-out 0.3s;
    transition: min-height ease-in-out 0.3s;
    }

    .nav-toggler {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    width: 28px;
    height: 28px;
    }

    .nav-toggler:focus {
    outline: none;
    }

    .nav-toggler span {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 28px;
    height: 3px;
    background-color: #ffffff;
    display: block;
    margin: calc(5rem / 16) 0;
    -moz-transition: all, ease-in-out, 0.3s;
    -webkit-transition: all, ease-in-out, 0.3s;
    transition: all, ease-in-out, 0.3s;
    }

    .nav-toggler.toggle span:nth-child(1) {
    display: none;
    opacity: 0;
    }

    .nav-toggler.toggle span:nth-child(2) {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: -3px 0;
    }

    .nav-toggler.toggle span:nth-child(3) {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: -3px 0;
    }

    #site-navigation .navbar-nav {
    color: #ffffff;
    }

    #site-navigation .navbar-collapse {
    display: block !important;
    }

    #site-navigation .navbar-collapse.show {
    visibility: visible;
    opacity: 1;
    }

    #site-navigation .navbar-nav .nav-item {
    display: inline-block;
    font-family: "Patua One", cursive;
    position: relative;
    letter-spacing: 0.03rem;
    }

    #site-navigation .navbar-nav .nav-item .dropdown-icon {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #444444;
    color: #999999;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    }

    #site-navigation .navbar-nav .nav-item>.nav-link {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    padding: 8px 14px;
    margin: 2px 3px;
    position: relative;
    }

    #site-navigation .navbar-nav .nav-item:after {
    content: "";
    background-color: #F7BE14;
    position: absolute;
    width: 0;
    height: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    left: 0;
    bottom: -3px;
    visibility: hidden;
    -moz-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    }

    #site-navigation .navbar-nav .nav-item.login:after {
    display: none;
    }

    #site-navigation .navbar-nav .nav-item:hover:after {
    visibility: visible;
    width: 100%;
    }

    #site-navigation .navbar-nav .nav-item.login>.nav-link {
    background-color: #F7BE14;
    color: #ffffff;
    padding: 8px 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    }

    #site-navigation .navbar-nav .nav-item:hover>.nav-link,
    #site-navigation .navbar-nav .nav-item.active>.nav-link {
    color: #ffffff;
    }

    #site-navigation .navbar-nav .nav-item.dropdown>.dropdown-menu {
    border: none;
    -webkit-box-shadow: 0 0 40px rgba(82, 85, 90, 0.3);
    box-shadow: 0 0 40px rgba(82, 85, 90, 0.3);
    font-family: Roboto;
    position: absolute;
    min-width: 200px;
    display: block;
    }

    #site-navigation .navbar-nav .nav-item.dropdown>.dropdown-menu .dropdown-item {
    color: #454545;
    font-size: 0.875rem;
    }

    #site-navigation .navbar-nav .nav-item.dropdown>.dropdown-menu .dropdown-item:hover {
    background-color: transparent;
    color: #1f9fa2;
    }

    #site-navigation .navbar-nav .nav-item.dropdown>.dropdown-menu:before {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    bottom: calc(100% - 2px);
    left: 25px;
    }

    @media only screen and (max-width: 1199px) {
    #site-navigation .navbar-collapse {
        left: 50px;
    }
    #site-navigation .navbar-nav .nav-item {
        display: inline-block;
        margin: 0 3px;
    }
    #site-navigation .navbar-nav .nav-item>.nav-link {
        font-size: 1rem;
        font-weight: 400;
        padding: 0 5px;
    }
    }

    @media only screen and (min-width: 991px) {
    .nav-toggler {
        display: none;
    }
    #site-navigation .navbar-nav .nav-item.dropdown>.dropdown-menu {
        visibility: hidden;
        top: calc(100% + 20px);
        opacity: 0;
        transition: all ease-in-out 0.3s;
    }
    #site-navigation .navbar-nav .nav-item.dropdown:hover>.dropdown-menu {
        visibility: visible;
        top: calc(100%);
        opacity: 1;
    }
    #site-navigation .navbar-nav .nav-item.dropdown>.dropdown-menu .dropdown-item:hover {
        background-color: transparent;
        color: #1f9fa2;
    }
    }

    @media only screen and (max-width: 991px) {
    /*-- responsive custon navigation --*/
    #customNav .container {
        padding: 0 15px;
    }
    #site-navigation .navbar-nav {
        background-color: #333333;
        padding: 0;
    }
    #site-navigation .navbar-collapse {
        background-color: #333333;
        -moz-box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
        box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
        position: fixed;
        height: 100vh;
        width: 250px;
        top: 0;
        right: -250px;
        left: auto;
        overflow-y: auto;
        z-index: 999;
        opacity: 0;
        -moz-transition: all ease-in-out 0.5s;
        -webkit-transition: all ease-in-out 0.5s;
        transition: all ease-in-out 0.5s;
    }
    #site-navigation .navbar-collapse.show {
        visibility: visible;
        opacity: 1;
        right: 0;
    }
    #site-navigation .navbar-nav .nav-item.dropdown>.dropdown-menu {
        background-color: #444444;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        display: none;
        position: static;
        min-width: 0 !important;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #site-navigation .navbar-nav .nav-item {
        margin: 0;
    }
    #site-navigation .navbar-nav .nav-item>.nav-link {
        color: rgba(255, 255, 255, 0.8);
        padding: 8px 15px;
        margin: 0;
        border-bottom: 1px solid #444444;
        white-space: unset;
    }
    #site-navigation .navbar-nav .nav-item.dropdown>.dropdown-menu:before,
    .dropdown-toggle:after {
        display: none;
    }
    #site-navigation .navbar-nav .nav-item.dropdown>.dropdown-menu .dropdown-item {
        font-size: 0.875rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.8);
        white-space: nowrap;
        padding: 8px 15px;
        border-bottom: 1px solid #5a5a5a;
    }
    #site-navigation .navbar-nav .nav-item.dropdown>.dropdown-menu .dropdown-item:hover {
        color: #f8b826;
    }
    #site-navigation .navbar-nav .nav-item .dropdown-icon {
        cursor: pointer;
        display: block;
    }
    }

    .navbar-search {
    position: relative;
    }

    .navbar-search .search-btn {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 22px;
    padding: 5px 20px;
    }
    .search-btn i {
    width: 30px;
    }

    .navbar-search .search-form-wrap {
    -webkit-box-shadow: 0 0 40px rgba(82, 85, 90, 0.3);
    box-shadow: 0 0 40px rgba(82, 85, 90, 0.3);
    width: 300px;
    padding: 10px;
    background-color: #ffffff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    top: calc(100% + 25px);
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.3s;
    }
    .navbar-search .search-form-wrap.show {
    opacity: 1;
    visibility: visible;
    top: calc(100% + 18px);
    }
    .header-shrink .navbar-search .search-form-wrap.show {
    top: calc(100% + 7px);
    }

    .navbar-search .search-form-wrap form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    }

    .navbar-search .search-form-wrap input[type="text"],
    .navbar-search .search-form-wrap input[type="search"] {
    width: calc(100% - 40px);
    height: 40px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    border-right: none;
    padding: 0 15px;
    }

    .navbar-search .search-form-wrap button {
    width: 40px;
    height: 40px;
    background-color: #1F9FA2;
    border: none;
    color: #ffffff;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    }

    .site-banner {
    position: relative;
    }

    .site-banner .carousel-item .container {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 50px;
    }

    .site-banner .carousel-item img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    }

    .carousel-caption {
    text-align: left;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 10px;
    padding-bottom: 5px;
    position: static;
    }

    .carousel-caption h1,
    .carousel-caption h4 {
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    }

    #whitestrokeCarousel .carousel-indicators {
    display: flex;
    }

    .carousel-caption {
    text-align: center;
    }

    .carousel-nav-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 50px;
    height: 58px;
    display: none;
    }

    .carousel-nav-container .carousel-control {
    width: 68px;
    height: 58px;
    /* background-color: #F7BE14;
    color: #ffffff; */
    right: 0;
    left: auto;
    bottom: 30px;
    opacity: 1;
    }

    .carousel-nav-container .carousel-control.carousel-control-prev {
    right: 70px;
    }

    @media (min-width: 992px) {
    .carousel-caption {
        text-align: left;
    }
    .carousel-caption h1 {
        font-size: calc(70rem / 16);
    }
    .carousel-caption h4 {
        font-size: calc(32rem / 16);
    }
    #whitestrokeCarousel .carousel-indicators {
        display: none;
    }
    .carousel-nav-container {
        display: flex;
    }
    }

    .about-section {
    position: relative;
    }

    .about-section:after {
    content: "";
    background-color: #1F9FA2;
    -moz-border-radius: 0 0 0 50px;
    -webkit-border-radius: 0 0 0 50px;
    border-radius: 0 0 0 50px;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: none;
    }

    .about-wrap {
    padding-right: 30px;
    text-align: center;
    }

    .about-wrap h1 {
    margin: 0;
    }

    .about-wrap p {
    text-align: justify;
    margin-bottom: 8x;
    }

    .about-wrap h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    }
    #aboutContent {
        height: 180px;
        overflow: hidden;
        margin-bottom: 20px;
        transition: all ease-in-out 0.3s;
    }
    #aboutContent.show {
        height: auto;
    }

    .feature-wrap {
    background-color: #1F9FA2;
    border-radius: 0;
    margin: 30px 0 0 0;
    }

    .feature-list {
    color: #ffffff;
    text-align: center;
    padding: 0 0 0 20px;
    justify-content: center;
    align-items: center;
    }
    .feature-item:hover .fet-icon {
        animation: zoom 1.2s linear infinite;
    }
    @keyframes zoom {
        0% {
            -moz-transform: scaleY(1) scaleX(1);
            -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
        }
        50% {
            -moz-transform: scaleY(0.8) scaleX(0.8);
        -webkit-transform: scaleY(0.8) scaleX(0.8);
            transform: scaleY(0.8) scaleX(0.8);
        }
        100% {
            -moz-transform: scaleY(1) scaleX(1);
            -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
        }
    }
    .feature-list>.col-6 {
    padding: 5px 15px;
    margin: 20px 0;
    }

    .feature-list h4 {
    color: #ffffff;
    font-size: 1.25rem;
    margin-bottom: 5px;
    }
    .feature-list h4 a {
    color: #ffffff;
    }

    .fet-icon {
    margin-bottom: 10px;
    }

    .fet-info p {
    font-size: 0.875rem;
    }

    .video-info {
    text-align: center;
    }

    .video-info p {
    font-size: 1.5rem;
    }

    .video-wrap {
    position: relative;
    }

    .video-wrap img {
    width: 100%;
    height: 300px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    object-fit: cover;
    }

    .video-wrap .playmedia {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    }

    .pulsing {
    background-color: #f7be14;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    z-index: 1;
    position: relative;
    }

    .pulsing:before,
    .pulsing:after {
    position: absolute;
    content: "";
    width: 82px;
    height: 82px;
    border-radius: 100%;
    border: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    background: #f7be14;
    animation: pulsing 2s linear infinite;
    }

    .pulsing:after {
    animation: pulsing1 2s linear infinite;
    }

    @keyframes pulsing {
        0% {
            opacity: 1;
            transform: scaleY(1) scaleX(1);
        }
        20% {
            opacity: 0.5;
            transform: scaleY(1.5) scaleX(1.5);
        }
        70% {
            opacity: 0;
            transform: scaleY(2) scaleX(2);
        }
        80% {
            opacity: 0;
            transform: scaleY(1.5) scaleX(1.5);
        }
        90% {
            opacity: 0;
            transform: scaleY(1) scaleX(1);
        }
    }

    @keyframes pulsing1 {
    0% {
        opacity: 1;
        transform: scaleY(1) scaleX(1);
    }
    20% {
        opacity: 0.5;
        transform: scaleY(1.3) scaleX(1.3);
    }
    70% {
        opacity: 0;
        transform: scaleY(1.8) scaleX(1.8);
    }
    80% {
        opacity: 0;
        transform: scaleY(1.3) scaleX(1.3);
    }
    90% {
        opacity: 0;
        transform: scaleY(1) scaleX(1);
    }
    }

    .video-wrap:after {
    content: '';
    position: absolute;
    bottom: 30px;
    right: -30%;
    background: url("../images/icons/arrow.svg") no-repeat;
    width: 408px;
    height: 282px;
    display: none
    }

    .video-wrap .playmedia img {
    width: 80px;
    height: 80px;
    -moz-transition: transform ease-in-out 0.3s;
    -webkit-transition: transform ease-in-out 0.3s;
    transition: transform ease-in-out 0.3s;
    }

    .video-wrap .playmedia:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    }

    .storyCarousel {
    background-color: #1F9FA2;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    position: relative;
    }

    .storyCarousel:before {
    content: "";
    background-color: #1F9FA2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    display: none;
    }

    .story-item {
    display: block;

    }

    .storyCarousel .owl-dots {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    }

    .story-item blockquote,
    .story-item .story-image {
    color: #ffffff;
    width: 100%;
    }

    .story-item .story-image {
    background-color: #F7BE14;
    -moz-border-radius: 0 0 30px 30px;
    -webkit-border-radius: 0 0 30px 30px;
    border-radius: 0 0 30px 30px;
    }

    .story-item blockquote {
    padding: 40px 20px 40px 0;
    }

    .story-item blockquote p {
    font-size: 1.5rem;
    position: relative;
    padding-left: 38px;
    }

    .story-item blockquote footer {
    padding-left: 38px;
    font-weight: 300;
    }

    .story-item blockquote p:before {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../images/icons/leftquote.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    }

    .story-item .story-image img {
    -moz-border-radius: 0 0 30px 30px;
    -webkit-border-radius: 0 0 30px 30px;
    border-radius: 0 0 30px 30px;
    opacity: 0.5;
    width: 100%;
    height: 500px;
    object-fit: cover;
    }

    .bordered-heading h1 {
    display: inline-block;
    padding: 7px 16px;
    border: 2px solid #1F9FA2;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    font-size: 2rem;
    }

    .story-section .bordered-heading {
    position: absolute;
    left: calc(50% + 30px);
    top: 30px;
    z-index: 9;
    }

    .story-section .bordered-heading h1 {
    border: 2px solid #ffffff;
    color: #ffffff;
    }

    .post {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    }

    .post .feature-content-img,
    .post .feature-content-img img {
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    margin: 0;
    }

    .post .feature-content-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    -moz-transition: ease-in-out transform 0.3s;
    -wenkit-transition: ease-in-out transform 0.3s;
    transition: ease-in-out transform 0.3s;
    }

    .post .feature-content-img {
    overflow: hidden;
    margin-bottom: 20px;
    }

    .post.project-post .feature-content-img {
    margin-bottom: 0;
    }

    .post .feature-content-img a:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    }
    .post.past-post .feature-content-img img {
        height: 150px;
    }

    .post .entry-container {
    padding: 5px 15px;
    position: relative;
    text-align: left;
    }
    .post.project-post .entry-container {
    text-align: center;
    }

    .post .entry-container .entry-meta {
    position: absolute;
    padding: 5px 15px;
    display: inline-block;
    font-size: 1rem;
    font-family: 'Patua One', cursive;
    color: #1F9FA2;
    background-color: #ffffff;
    border: 2px solid #1F9FA2;
    border-radius: 20px;
    left: 15px;
    top: -35px;
    }

    .post .entry-container .entry-title {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: #555555;
    font-weight: 400;
    margin: 10px 5px;
    }
    .post.past-post .entry-container .entry-title {
        font-size: 1.25rem;
    }
    .post .entry-container .entry-title a {
    color: #555555;
    font-weight: 500;
    }

    .post .entry-container .entry-title a:hover {
    color: #F7BE14;
    }
    .supporterCarousel {
    margin: 40px 0;
    }

    .supporterCarousel .supporter-item {
    text-align: center;
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    }

    .supporterCarousel .supporter-item img {
    width: auto;
    display: inline-block;
    max-width: 100%;
    }

    .site-footer {
    background-color: #333333;
    padding: 40px 0;
    }

    .site-footer h1,
    .site-footer h2,
    .site-footer h3,
    .site-footer h4,
    .site-footer h5,
    .site-footer h6 {
    color: #ffffff;
    }

    .subscribe-form-wrap {
    margin: 30px 0 60px 0;
    }

    .subscribe-form-wrap .form-group {
    margin: 5px 0;
    width: calc(50% - 85px);
    float: left;
    }

    .subscribe-form-wrap .form-group input[type="text"],
    .subscribe-form-wrap .form-group input[type="email"] {
    width: 100%;
    border-radius: 0;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    height: 48px;
    padding-left: 30px;
    }

    .subscribe-form-wrap input::-webkit-input-placeholder {
    color: #ffffff;
    }

    .subscribe-form-wrap input::-moz-placeholder {
    color: #ffffff;
    }

    .subscribe-form-wrap input:-ms-input-placeholder {
    color: #ffffff;
    }

    .subscribe-form-wrap input:-moz-placeholder {
    color: #ffffff;
    }

    .subscribe-form-wrap .form-group:first-child input {
    -moz-border-radius: 24px 0 0 24px;
    -webkit-border-radius: 24px 0 0 24px;
    border-radius: 24px 0 0 24px;
    border-right: none;
    }

    .subscribe-form-wrap button {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    -moz-border-radius: 0 24px 24px 0;
    -webkit-border-radius: 0 24px 24px 0;
    border-radius: 0 24px 24px 0;
    font-family: 'Patua one', cursive;
    color: #1F9FA2;
    height: 48px;
    float: left;
    margin: 5px 0;
    width: 170px;
    font-size: 1.125rem;
    }

    .footer-logo {
    width: 180px;
    }
    .contact-map {
        border: 2px solid #999999;
        padding: 5px;
        padding-bottom: 0;
        margin-top: 20px;
    }
    .contact-map iframe {
        width: 100%;;
    }
    .address-wrap {
    padding-left: 20px;
    }
    .address-wrap h4 {
    font-size: 20px;
    letter-spacing: 0.02em;
    } 
    .site-footer.address-wrap h4 {
    font-size: 16px;
    }
    .address-wrap address {
    margin: 10px 0;
    }
    .site-footer .address-wrap address {
    color: #cccccc;
    }
    .site-footer .address-wrap address:last-child {
    margin-bottom: 0;
    }

    address p {
    margin: 3px 0;
    }

    .footer-nav ul li {
    display: inline-block;
    margin: 3px 20px 3px 0;
    }

    .footer-nav ul li a {
    color: #ffffff;
    }

    .social-link ul li {
    display: inline-block;
    margin: 0 3px;
    padding: 0 !important;
    }
    .social-link ul li:before {
    display: none !important;
    }
    .social-link ul li a {
    display: block;
    }

    .social-link ul li a i {
    width: 30px;
    height: 30px;
    background-color: #1F9FA2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    line-height: 30px;
    text-align: center;
    }

    .social-link ul li a i.fa-facebook-f {
    background-color: #2065CE;
    }

    .social-link ul li a i.fa-twitter {
    background-color: #00DEFF;
    }

    .social-link ul li a i.fa-youtube {
    background-color: #FF4600;
    }

    .copyright {
    margin: 50px 0 20px 0;
    color: #ffffff;
    }

    .copyright span {
    margin-right: 20px;
    }

    .foot-address p,
    .footer-nav,
    .copyright span {
    font-size: 0.875rem;
    }

    .copyright span a {
    margin-left: 5px;
    }

    /*-- Inner Pages CSS --*/
    .inner-banner {
    position: relative;
    background-color: #000;
    }
    .inner-banner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    opacity: 0.5;
    }
    .wstroke-breadcrumb {
    width: 100%;
    background-color: transparent;
    border: none;
    position: absolute;
    text-align: center;
    top: 150px;
    z-index: 1;
    left: 0;
    }
    .wstroke-breadcrumb ul {
    width: 100%;
    }
    .wstroke-breadcrumb ul li {
    font-family: 'Patua One', cursive;
    display: inline-block;
    font-size: 1.15rem;
    }
    .wstroke-breadcrumb ul li.active {
    color: #ffffff;
    }
    .wstroke-breadcrumb ul li + li {
    position: relative;
    }
    .wstroke-breadcrumb ul li + li:before {
    content:'\f061';
    font-weight: 700;
    font-family: "Font Awesome 5 Free";
    color: #ffffff;
    margin: 0 8px 0 5px;
    }
    .login-wrap {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    }
    .form-info {
    font-size: 0.875rem;
    color: #1F9FA2;
    }
    .form-wrap {
    margin: 15px 0;
    border: 1px solid #dddddd;
    }
    .form-wrap .form-group label span {
    color: #FF4600;
    margin-left: 4px;
    font-size: 20px;
    }
    .form-wrap .heading h1 {
    font-size: 2rem;
    }
    .post-detail .form-wrap {
    margin: 20px 0;
    }
    .no-sidebar .post-detail ul,
    .no-sidebar .post-detail ol {

    list-style-position: inside;
    }
    .sidebar .post-detail ul,
    .sidebar .post-detail ol {
    list-style-position: outside;
    margin-left: 20px;
    }
    .post-detail ul,
    .post-detail ol,
    .post-detail img {
    margin: 15px 0;
    }
    .post-detail ul li {
    margin: 2px 0;
    }
    .post-detail .form-wrap {
    background-color: rgba(200,200, 200, 0.2);
    padding: 20px;
    border-radius: 5px;
    }
    /* .no-sidebar ul li:before {
    content: "";
    width: 8px;
    height: 3px;
    line-height: 14px;
    background: #999999;
    top: 10px;
    display: inline-block;
    margin-left: -20px;
    position: absolute;
    } */
    .box-info {
    background-color: rgba(200,200, 200, 0.2);
    width: 450px;
    height: 450px;
    border-radius: 100%;
    margin: -30px 15px;
    padding: 50px;
    display: inline-flex;
    }
    .box-info-wrap {
    margin: 60px 0 30px 0;
    text-align: center;
    }
    .box-info-wrap .box-info:first-child {
    display: flex;
    margin: -35px auto;
    }
    .box-info-wrap .box-info:nth-child(2n) {
    background-color: rgba(31,159,162, 0.2);
    }
    .box-info-wrap .box-info:nth-child(3n) {
    background-color: rgba(247,192,0, 0.2);
    margin: 0 5px
    }
    .box-info h1,
    .box-info h2,
    .box-info h3,
    .box-info h4,
    .box-info h5,
    .box-info h6 {
    color: #333333;
    }
    .box-info .heading h1 {
    position: relative;
    display: inline-block;
    padding: 15px 0;
    }
    .box-info .heading h1:before {
    content: "";
    width: 120px;
    height: 5px;
    background-color:  #f7be14;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;

    }
    .box-info p {
    font-size: 1.25rem;
    }

    .team-wrap {
    text-align: left;
    margin: 30px 0;
    }
    .team-wrap .team {
    width: 50%;
    -webkit-display: flex;
    display: flex;
    background-color:rgba(200,200, 200, 0.2);
    /* box-shadow: 0 2px 15px rgba(0,0,0, 0.3); */
    margin:5px 0;
    }
    .team-wrap .team:first-child {
    width: 100%;
    }
    .team .team-img {
    position: relative;
    width: 50%;
    }

    .team .team-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin: 0;
    }
    .team .team-info {
    width: 50%;
    padding: 20px;
    position: relative;

    }
    .team .team-info:before {
    content: "";
    position: absolute;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #f4f4f4;
    border-left: none;
    top: calc(50% - 20px);
    left: -20px;
    right: auto;
    }
    .team.flex-row-reverse .team-info:before {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #f4f4f4;
    border-right: none;
    top: calc(50% - 20px);
    right: -20px;
    left: auto;
    }
    .team .team-info h3,
    .team-layout-new-info h3 {
    margin: 0;
    }
    .team .team-info h4,
    .team-layout-new-info h4 {
    font-size: 1.25rem;
    color: #333333; 
    }
    .team-layout-new {
        position: relative;
        overflow: hidden;
        width: 230px;
        height: 230px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin: 30px auto;
    }
    .team-layout-new-img {
        width: 230px;
        height: 230px;
        
    }
    .team-layout-new-img img {
        width: 230px;
        height: 230px;
        object-fit: cover;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;  
        margin: 0;      
    }
    .team-layout-new-info {
        position: absolute;
        background-color: rgba(31, 159, 162, 0.95);
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        padding: 10px;
        transition: right ease-in-out 0.3s;
    }
    .team-row .col-12:nth-child(2n) .team-layout-new-info {
        background-color: rgba(247, 190, 20, 0.95);
    }
    .team-info-wrap {
        width: 100%;
    }
    .team-layout-new-info h3,
    .team-layout-new-info h4{
        color: #ffffff;
    }
    .team-layout-new-info h3 {
        font-size: 1.5rem;
    }
    .team-layout-new-info h4 {
        font-size: 1.125rem;
        margin-bottom: 20px;
    }
    .team-layout-new:hover .team-layout-new-info {
        right: 0
    }
    .sidebar-container {
    position: sticky;
    top: 70px;
    }
    .sidebar-container .heading {
    border-bottom: 2px solid #f7be14;
    }
    .sidebar-links {
    border-radius: 5px;
    background-color: #eeeeee;
    }
    .sidebar-links ul {
    list-style: none;

    }
    .sidebar-links ul ul {
    display: none;
    }
    .sidebar-links ul li.active > ul {
    display: block;         
    }
    .sidebar-links ul li > ul {
    background-color: rgba(0,0,0, 0.05);
    }
    .sidebar-links ul li a {
    color: #555555;
    display: block;
    padding: 8px 15px;
    border-bottom: 1px solid #dddddd;
    }
    .sidebar-links > ul > li > a {
    font-family: 'Patua One', cursive;
    position: relative;
    }
    .sidebar-links > ul > li > a:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    right: 12px;
    top: 20px;
    position: absolute;
    }
    .sidebar-links ul li > ul li a {
    border-bottom: 1px solid  rgba(0,0,0, 0.09);
    }
    .sidebar-links ul li > ul li a {
    font-size: 0.875em;

    } 
    .sidebar-video-wrap {
    position: relative;
    }
    .sidebar-video-wrap > img {
    width: 100%;
    height: 220px;
    border-radius: 10px;
    }
    .sidebar-video-wrap .playmedia {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    }
    .sidebar-video-wrap .playmedia img,
    .sidebar-video-wrap .pulsing {
    width: 50px;
    height: 50px;
    }
    .sidebar-video-wrap .pulsing:before,
    .sidebar-video-wrap .pulsing:after {
    width: 50px;
    height: 50px;
    }

    .sidebar-post {
    padding: 5px 0;
    display: flex;
    display: -webkit-flex;
    box-shadow: none;
    border-radius: 0;
    }
    .sidebar-post .feature-content-img {
    margin: 0;
    width: 100px;
    height: 80px;
    border-radius: 5px;
    overflow: hidden;
    }
    .sidebar-post .feature-content-img img {
    width: 100px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    }
    .sidebar-post .entry-container {
    padding: 0 10px;
    width: calc(100% - 100px);
    }
    .sidebar-post .entry-container .entry-meta {
    font-size: 14px;
    padding: 0;
    border: none;
    border-radius: 0;
    position: static;
    margin: 0;
    }
    .sidebar-post .entry-container .entry-title {
    font-size: 1.25rem;
    margin: 3px 0;
    } 


    /*--  Responsive Media Queries --*/

    @media (min-width: 576px) {
    .container {
        max-width: calc(100% - 20px);
        padding: 0 10px;
    }
    }
    @media (min-width: 768px) {
        .container {
            max-width: calc(100% - 30px);
            padding: 0 30px;
        }
        .footer-nav,
        .copyright {
            padding-left: 30px;
        }
        .social-link {
            text-align: right;
        }
        .logo {
            width: 250px;
        }
        #site-navigation {
            min-height: 80px;
        }
        .site-banner .carousel-item img {
            height: 400px;
        }
        .carousel-caption {
            bottom: 20px;
            padding-bottom: 10px;
        }
    }
    @media (min-width: 992px) {
        .section-all {
            padding: 40px 0;
        }
        .heading,
        .about-wrap {
            text-align: left;
        }
        .site-banner .carousel-item img {
            height: calc(100vh - 100px);
        }
        .about-section {
            margin-bottom: 40px;
        }
        .about-section:after {
            display: block;
        }
        .feature-wrap {
            -moz-border-radius: 0 0 0 50px;
            -webkit-border-radius: 0 0 0 50px;
            border-radius: 0 0 0 50px;
            margin: 0;
        }
        .video-wrap img {
            height: 500px;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;
        }
        .video-wrap:after {
            display: block;
        }
        .video-info {
            padding-left: 40px;
            padding-top: 120px;
            z-index: 1;
            position: relative;
            text-align: left;
        }
        .storyCarousel {
            -moz-border-radius: 0 50px 50px 0;
            -webkit-border-radius: 0 50px 50px 0;
            border-radius: 0 50px 50px 0;
        }
        .storyCarousel:before {
            display: block;
        }
        .story-item {
            display: flex;
            display: -webkit-flex;
            align-items: center;
        }
        .story-item blockquote,
        .story-item .story-image {
            width: 50%;
        }
        .story-item .story-image,
        .story-item .story-image img {
            -moz-border-radius: 0 50px 50px 0;
            -webkit-border-radius: 0 50px 50px 0;
            border-radius: 0 50px 50px 0;
        }
    }
    @media (min-width: 1200px) {
        .container {
            max-width: 1190px;
        }
        
    }
    @media (max-width: 991px) {
        .story-item blockquote {
            padding: 100px 20px 20px 20px;
        }
        .story-section .bordered-heading {
            left: 100px;
        }
        .story-item .story-image img {
            height: auto;
        }
        .box-info-wrap {
            margin: 20px 0;
            display: block;
        }
        .box-info{
            display: flex;
            margin: 10px auto !important;
            
        }
        .box-info-wrap .box-info:first-child {
            display: flex;
        }
        .box-info .heading h1 {
            font-size: 1.5rem;;
        }
        .box-info .heading h1:before {
            width: 50px;
            height: 3px;
        }
        .box-info p {
            font-size: 1rem;
        }
        .team-wrap .team,
        .team-wrap .team:first-child {
            width: 100%;
        }
        .team.flex-row-reverse {
            flex-direction: row !important;
        }
        .team.flex-row-reverse .team-info:before {
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-right: 20px solid #f4f4f4;
            border-left: none;
            left: -20px;
            right: auto;
        }
    }
    @media (max-width: 767px) {
        .footer-logo {
            width: 120px;
        }
        .footer-nav,
        .social-link,
        .copyright,
        .subscribe-form-wrap {
            margin: 10px 0;
            text-align: center;
        }

        .subscribe-form-wrap .form-group{
            width: 50%;
        }
        .subscribe-form-wrap .form-group:nth-child(2) input {
            border-radius:  0 24px 24px 0;
        }
        .subscribe-form-wrap button {
            width: 100%;
            border-radius: 24px;
            margin-top: 10px;

        }
        .team-wrap .team,
        .team-wrap .team:first-child {
            display: block;
            width: 85%;
            margin: 5px auto;
        }
        .team-wrap .team .team-img,
        .team-wrap .team .team-info {
            width: 100%;
        }
        .team-wrap .team .team-info:before {
            display: none;
        }
    }
    @media (max-width: 567px) {
        .footer-logo {
            display: inline-block;
            width: 150px;
        }
        .foot-contact-info {
            text-align: center;
        }
        .foot-address,
        .address-wrap {
            padding-left: 0;
        }
        .box-info { 
            width: 300px;
            height: 300px; 
        }
        .team-wrap .team,
        .team-wrap .team:first-child {
            width: 100%;
        }
    }
