<template>
	<div class="card">
		<div class="card-header">
			<p class="card-title">Add Form</p>
		</div>
		<div class="card-body">	
			<form>
				<div class="form-group">
				    <label for="name">Resturent Name</label>
				    <input type="text" class="form-control" id="name" placeholder="Enter resturent name" v-model="resto.name">
				</div>
				<div class="form-group">
				    <label for="location">Resturent Address</label>
				    <input type="text" class="form-control" id="location" placeholder="Enter resturent address" v-model="resto.address">
				</div>
				<div class="form-group">
				    <label for="tables">Number of Tables</label>
				    <input type="text" class="form-control" id="tables" placeholder="Enter number of tables" v-model="resto.tables">
				</div>
				<div class="form-group">
					<button class="btn btn-primary" @click.prevent="closeModal">Cancel</button>
					<button class="btn btn-warning" @click.prevent="handleAddButton">Submit</button>
				</div>

			</form>
		</div>
	</div>
</template>

<script>
	import axios from 'axios';
	export default{
		data(){
			return{
				resto:this.basicResto(),
			}
		},
		created(){
			console.log('sdfsdfsd')
			axios.get('api/resto')
			    .then(response => {
			        console.log(response.data);
			    });
		},
		methods:{
			basicResto:function(){
				return {name:'', address:'', tables:'' }
			},
			closeModal(){
				this.resto = this.basicResto();
				this.$emit('cancelModal');
			},
			handleAddButton(){
				// alert('sfkjdsl')
				this.$emit('callToParentEvent', this.resto)
			}
		}
	}
</script>