<template>
	<div class="row">
		<div class="col-md-4" v-for="(resto,key) in restos" :key="resto.id">
			<card>
				<template slot="title">{{resto.name}}</template>
				<template slot="body">{{resto.location}}</template>
			</card>
		</div>
		<div class="col-md-4" v-if="showAddForm">
			<card>
				<template slot="title">Add New Resturent</template>
				<template slot="body">
					<span class="addNewResto" v-on:click="handleNewRestoGroup">+</span>
				</template>
			</card>
			<modal name="add-new-resto" height="70%">
				<AddNewResto 
				@callToParentEvent="handleSaveRestoForm"
				@cancelModal="handleCancelModal"></AddNewResto>
			</modal>
		</div>
	</div>		
</template>

<script>
	import AddNewResto from './AddRestoForm.vue';
	export default{
		components:{
			AddNewResto,
		},
		props:['restos'],
		created(){
			console.log('this.restos.length', this.restos.length);
		},
		computed:{
			showAddForm(){
				return (this.restos.length < 5) ? true : false;
			}
		},
		data(){
			return{
				// showAddForm:true
			}
		},
		methods:{
			handleNewRestoGroup:function(){
				this.$modal.show('add-new-resto')
			},
			handleCancelModal(){
				this.$modal.hide("add-new-resto");
			},
			handleSaveRestoForm(restoData){
				console.log(restoData)
			}
		}
	}
</script>
<style scoped>
	.addNewResto{
		cursor: pointer;
	}
	.resto-form{
		margin: 10px;
	}
</style>