<template>
	<card>
           			
		<template slot="title">My Menu Item </template>
		<template slot="body">
			<div class="section">
			<multiselect 
			v-model="menu"
			v-on:change="changeMenuItem"
			:options="categories">
				
			</multiselect>
		</div>
		<div class="section">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Name &amp; description</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
					<tr v-if="currentMenuItems.length > 0 && currentMenuItems[0] != null " v-for="(item,key) in currentMenuItems" :key="key">
						<td>
							<strong v-text="item.name"></strong>
							<p v-text="item.description"></p>
						</td>
						<td>
							<span v-text="item.price"></span>
						</td>
					</tr>
					<tr v-else>
						<td colspan="2" class="text-center">No data Found !</td>
					</tr> 
				</tbody>
			</table>
		</div>
		</template>
	</card>
</template>

<script>
	import Multiselect from 'vue-multiselect';
	export default{
		components:{
			Multiselect
		},
		props:['categories','currentMenuItems'],

		data(){
			return{
				menu:''
			}
		},
		methods:{
			changeMenuItem(){
				alert(this.menu)
			}
		}
	}
</script>