<template>
		<div class="row">
			<div class="col-md-8">
				<MenuItem :categories="categories" :currentMenuItems="currentMenuItems"></MenuItem>
           		<card>
           			
           			<template slot="title">My Menu Item </template>
           			<template slot="body">
           				<div class="section">
							<multiselect 
							v-model="menu"
							:options="categories">
								
							</multiselect>
						</div>
						<div class="section">
							<table class="table table-hover table-striped">
								<thead>
									<tr>
										<th>Name &amp; description</th>
										<th>Price</th>
									</tr>
								</thead>
								<tbody>
									<tr v-if="currentMenuItems.length > 0 && currentMenuItems[0] != null " v-for="(item,key) in currentMenuItems" :key="key">
										<td>
											<strong v-text="item.name"></strong>
											<p v-text="item.description"></p>
										</td>
										<td>
											<span v-text="item.price"></span>
										</td>
									</tr>
									<tr v-else>
										<td colspan="2" class="text-center">No data Found !</td>
									</tr> 
								</tbody>
							</table>
						</div>
           			</template>
           		</card>
          	</div>
          	<div class="col-md-4">
          		<menuaddform 
          		:categories="categories" 
          		v-on:menuItemAdded="handleNewMenuItem">
          			
          		</menuaddform>
          		
          	</div>
		</div>
</template>

<script>
	import Multiselect from 'vue-multiselect';
	import _ from 'lodash';
	import MenuAddForm from './MenuAddForm';
	import MenuItem from './MenuItem';
	export default{
		components:{
			'menuaddform':MenuAddForm,  
			'multiselect':Multiselect,
			MenuItem,
		},
		props:['menus'],
		data(){
			return{
				localItems:'',
				categories:[],
				menu:''
			}
		},
		methods:{
			handleNewMenuItem(item,cat){
				this.localItems[cat].unshift(item)
			}
		},
		created(){
			_.forEach(this.menus,(item,key) => {
				this.categories.push(key);
			});
			this.menu = this.categories[0];

			this.localItems = this.menus;
		},
		computed:{
			currentMenuItems(){
				return this.localItems[this.menu];
			}
		}
	}
</script>