<template>
		<div class="section">
			<card>
	   			<template slot="title">Add Menu Form</template>
	   			<template slot="body">
	   				<form v-on:submit.prevent="formHandler" action="" method="post">
						<div class="form-group">
							<label for="fname">Food Item Name</label>
							<input type="text" class="form-control" v-model="food.name" id="fname" placeholder="Enter First Name">
							<span class="errors" v-text="validation.getMessage('name')"></span>
						</div>
						<div class="form-group">
							<label>Select Category</label>
							<multiselect 
									v-model="food.category"
									:options="categories">
										
							</multiselect>
							<span class="errors" v-text="validation.getMessage('category')"></span>
						</div>
						<div class="form-group">
							<label for="lname">Price</label>
							<input type="text" class="form-control" v-model="food.price" id="price" placeholder="Enter Price">
							<span class="errors" v-text="validation.getMessage('price')"></span>
						</div>
						<div class="form-group">
							<label for="description">Description</label>
							<textarea id="description" class="form-control" name="description" v-model="food.description"></textarea>
							<span class="errors" v-text="validation.getMessage('description')"></span>
						</div>
						<input type="submit" value="Submit">
					</form>
	   			</template>
	   		</card>
   		</div>
	
</template>

<script>
	import Multiselect from 'vue-multiselect';
	import Validation from './../../utils/Validation.js';
	export default{
		props:['categories'],
		components:{
			'multiselect':Multiselect
		},
		data(){
			return{
				food:this.emptyFoodItem(),
				validation: new Validation(),
			}
		},
		methods:{
			emptyFoodItem(){
				return {
						name:'',
						category:'',
						price:100,
						description:''
					}
			},
			formHandler(){
				let postData = this.food;
				postData.restoId = 1;

				axios.post("menu", postData)
					.then((res) => {
						// console.log(res.data)
						this.$emit("menuItemAdded", res.data,postData.category)
						this.food = this.emptyFoodItem();
					})
					.catch(error => {
						// console.log("error",error.response)
						if(error.response.status == 422){
							// alert('sjdlfkds')

							this.validation.setMessages(error.response.data.errors);
						}
					});
			}
		},
		created(){
			// alert("fklsdjflkds")
		}
	}
</script>

<style scoped="">
	.errors{
		color: red;
	}
</style>