<template>
    <div>
        <div class="form-group">
            <div class="slug-align">
                <div class="url-icon mr-2">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="url-wrapper mr-4">
                    
                    <span class="root-url">{{url}}</span>
                    <span class="subdirectory-url">{{subdirectory}}/</span>
                    <span class="slug" v-show="!isEditing">{{slug}}</span>
                    <input type="text" v-show="isEditing" v-model="customSlug">
                </div>
                <div class="">
                    <button class="btn btn-default btn-sm" v-show="!isEditing" v-on:click.prevent="editSlug">Edit</button>
                    <button class="btn btn-default btn-sm" v-on:click.prevent="saveSlug" v-show="isEditing">save</button>
                    <button class="btn btn-danger btn-sm" v-on:click.prevent="reformSlug" v-show="isEditing">Reset</button>
                    <p>{{api_token}}</p>
                </div>
            </div>
    </div>
    </div>
</template>

<script>
    export default {
        props:{
            url:{
                type:String,
                required:true,
            },
            subdirectory:{
                type:String,
                required:true,
            },
            title:{
                type:String,
                required:true,
            }
        },
        data(){
            return{
                slug:this.convertTitle(),
                isEditing:false,
                customSlug:'',
                wasEdited:false,
                api_token:this.$root.api_token
            }
        },
        methods:{
            convertTitle:function(){
                return Slug(this.title);
            },
            editSlug(){
                this.customSlug=this.slug
                this.isEditing=true
            },
            saveSlug(){
                if(this.slug !== this.customSlug) this.wasEdited=true;
                this.slug = this.customSlug
                this.isEditing=false
            },
            reformSlug:function(){
                this.slug = this.convertTitle();
                this.wasEdited=false
                this.isEditing=false
            }
        },
        watch:{
            title : _.debounce(function(){
                if(this.wasEdited===false) this.slug = this.convertTitle();
                
            },500),

            slug:function(val){
                this.$emit('slug_changed',val)
            }
            
        }
    }
</script>

<style scoped>
    .slug{
        background-color: yellow;
    }
    .url-icon{
        float: left;
    }
    .url-wrapper{
        float: left;
    }
</style>
